@charset "UTF-8";
/*整体布局*/
*{padding:0;margin:0;}
li{list-style:none;}
a{text-decoration:none;}
body{
	min-width: 1400px;
    min-height: 790px;
	font-family:"宋体";
	font-size:20px;
	background-color:#73A8D0;
}
#returnTop{
	position:fixed;
	width:50px;
	height:45px;
	right:0;
	bottom:20%;
	z-index:10;
	border:none;
	margin-top:-50px;
	background:url("../images/returnTop.gif") no-repeat -10px -5px;
	opacity:0.7;
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#returnTop:hover{
	cursor:pointer;
	opacity:1;
}
#nav{
	height:70px;
	background-color:#2E3037;
	border-bottom:2px solid black;
	opacity:0.8;
}
#adv{
	height:500px;
	z-index:1;
}
#content{
	height:700px;
}
#search{
	padding:0px auto;
	text-align:center;
}
#footer{
	height:200px;
	background-color:#37424B;
}
/*切换图片*/
.banner{
		position:relative;
		margin:0px auto;
		width:auto;
		height:500px;
	}
	.ban-img{
		position:absolute;
		width:100%;
		height:100%;
	}
	.ban-img img{
		width:100%;
		height:500px;
		position:absolute;
		opacity:0;
		transition:1s;
	}
	.ban-img img.on{
		opacity:1;
	}
	.btn-left,.btn-right{
		position:absolute;
		top:50%;
		width:50px;
		margin-top:-30px;
		background-color:rgba(0,0,0,0.5);
		font-size:24px;
		text-align:center;
		line-height:60px;
		color:#fff;
		opacity:0.5;
		cursor:pointer;
	}
	.btn-left:hover{
		opacity:1;
	}
	.btn-right:hover{
		opacity:1;
	}
	.btn-left{
		left:0;
	}
	.btn-right{
		right:0;
	}
	.tab{
		position:absolute;
		bottom:20px;
		left:50%;
		transform:translateX(-50%);/*以x轴的0点向左移动自身宽度的50%*/
	}
	.tab li{
		float:left;
		list-style:none;
		width:50px;
		height:5px;
		border-radius:9%;
		background-color:#ccc;
		margin-left:8px;
		cursor:pointer;
	}
	.tab li.on{
		background-color:#f70;
	}
/*上下结构内部细节*/
#nav:hover{
	opacity:1;
}
#nav a{
	color:white;
	font-weight:800;
	opacity:0.7;
}
#nav a:hover{
	color:white;
	opacity:1;
}
#nav ul{
	width:905px;
	margin-left:400px;
}
#nav li{
	float:left;
	border-right:1px solid black;
	display:inline-block;
	width:150px;
	line-height:70px;
	text-align:center;
	margin:auto 0;
}
#nav .first{
	border-left:1px solid black;
}
/*用户信息栏*/
#nav .user{
	width:250px;
	border-right:none;
}
.user svg{
	display:inline-block;
	margin-left:60px;
	vertical-align:middle;
}
.user span{
	display:inline-block;
	width:80px;
	color:white;
	margin-left:10px;
	vertical-align:middle;
	overflow:hidden;
	text-overflow:ellipsis;
	opacity:0.8;
}
.user svg:hover{
	cursor:pointer;
}
.user span:hover{
	cursor:pointer;
}
/*用户详细信息下拉列表*/
#user-msg{
	position:absolute;
	width:170px;
	height:200px;
	font-size:0.8em;
	font-weight:bold;
	color:white;
	top:72px;
	left:1073px;
	display:none;
	background-color:#2E3037;
	z-index:100;
}
#user-msg li{
	display:block;
	width:150px;
	height:49px;
	line-height:50px;
	text-align:center;
	border-bottom:1px solid black;
	opacity:0.8;
}
#user-msg li a{
	color:white;
}
#user-msg .exit:hover{
	opacity:1;
}
/*卡片滑动式呈现*/
.card ul{
	margin-top:80px;
	border-bottom:1px solid black;
	height:130px;
	text-align:center;
}
.card li{
	display:inline-block;
	margin:30px 80px;
	opacity:0.7;
	cursor:pointer;
}
.card ul li svg{
	width:64px;
	height:64px;
}
.card ul li img{
	width:64px;
	height:64px;
}
.card li:hover{
	opacity:1;
}
.card .line{
	width: 83px;
    height: 8px;
    display: inline-block;
    background: green;
    position: absolute;
    top:822px;
    transition:0.5s;
    z-index: 10;
}
/*搜索栏*/
#search img{
	width:700px;
	height:47px;
	margin:0px auto;
}
#search input{
  position:absolute;
  top:582px;
  transform:translateX(-46%);
  width:630px;
  height:33px;
  padding-left:15px;
  border:none;
  
}
/*卡片内容*/
.textBox{
	height:570px;
	background-color:#2E3037;
	padding:0px auto;
}
.box-center{
	width:1200px;
	margin:0px auto;
}
.box-content{
	position:absolute;
	width:1200px;
	height:540px;
	margin:8px auto;
	text-align:center;
	z-
}
.box-content ul{
	display:inline-block;
	vertical-align:middle;
}
.box-img{
	width:342px;
	height:222px;
	margin-top:100px;
}
.box-img img{
	width:340px;
	height:220px;
	border-radius:2px;
	border:2px solid gray;
}
.box-details{
	width:480px;
	height:350px;
	color:white;
	margin-top:140px;
	margin-left:250px;
}
.box-details .box-info{	
	margin:30px auto;
	line-height:29px;
	text-align:left;
}
/*层叠显示*/
.box-content div{
	display:none;
	z-index:-1;
}
.box-content .alive{
	display:block;
}
.alive input{
	width:110px;
	height:34px;
	border-radius:20px;
	margin:5px auto;
	color:#C92027;
	font:16px Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	border:1px solid #dc3545;
}
.alive input:hover{
	color:white;
	background:#C92027;
	cursor: pointer;
}
/*页脚*/
.favourite{
	text-align:center;
	height:100px;
	border-bottom:1px solid white;
}
.favourite img,svg{
	width:38px;
	height:38px;
}
.favourite li{
	display:inline-block;
	width:100px;
	height:100px;
	margin:30px 50px;
}
.favourite li a{
	font-size:18px;
	font-weight:400;
	color:white;
	opacity:0.6;
}
.favourite li a:hover{
	color:white;
	opacity:1;
}
.designer{
	width:590px;
	height:35px;
	margin:0px auto;
	text-align:center;
	margin-top:38px;
}
.designer div{
	height:30px;
	text-align:center;
}
.designer span{
	font:17px Segoe UI Emoji,Segoe UI Symbol;
	font-weight:500;
	color:gray;
}
.designer svg{
	width:22px;
	height:22px;
	vertical-align:bottom;
}
.designer span a{
	color:#DF480D;
	opacity:0.8;
}
.designer span a:hover{
	opacity:1;
}